 
 body{
     background-image: url(../image/more-leaves.png);
    margin: 0;
    width: 100%;
}

.main-container{
    background-image: url(../image/IMG_0174-min.JPG);
    background-size: cover;
    background-position: center;



    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 1.5rem;
}


h1{
    width: 100%;
    margin-top: 15%;
    position: absolute;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#clock{
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 25%;
}